<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Card Confirmation</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<script src="/bootstrap.min.js"></script>
	<script src="/bootstrap.bundle.min.js"></script>
	<script src="/bootstrap.autotheme.min.js"></script>
	<link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<header th:replace="fragments/header :: header"></header>
	<div class="container p-5 mx-auto">
		<h1 class="fs-1">Hello!</h1>
		<h3>Welcome to my Book Store!</h3>
		<p>
			This website was made using the power of <b style="color: #6db33f">Spring Framework</b> and <b
				style="color: #086417">ThymeLeaf</b>.
		</p>
		<p>
			Unit testing was designed in <b style="color: #73a926">Mockito</b>.
		</p>
		<p>
			If you want to check my <b>GitHub profile</b> <a href="https://github.com/julwas797">click here</a> or open
			up <a href="https://julwas797.github.io/">my website</a>.
		</p>
	</div>

</body>
</html>