<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cart</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<script src="/bootstrap.min.js"></script>
	<script src="/bootstrap.bundle.min.js"></script>
	<script src="/bootstrap.autotheme.min.js"></script>
	<link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body data-bs-theme="auto">
	<header th:replace="fragments/header :: header"></header>
	<div class="container p-5 mx-auto">
		<div th:switch="${#lists.size(cart)}">
			<div th:case="'0'">
				<div class="alert alert-warning" role="alert">
					<!-- Buy my books, BUY MY BOOKS!!! -->
					Your cart is empty!
				</div>
				<div class="m-2 ms-0">
					<a th:href="@{/}">
						<button class="btn btn-primary" type="button">
							Home
						</button>
					</a>
				</div>
			</div>
			<div th:case="*">
				<table class="table">
					<thead>
					<tr>
						<th scope="col">Amount</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Options</th>
					</tr>
					</thead>
					<tbody class="table-group-divider">
					<tr th:each="cartElement: ${cart}">
						<th scope="row" th:text="${cartElement.count()}"/>
						<th th:text="${cartElement.book().getTitle()} + ' - ' + ${cartElement.book().getAuthor()}"/>
						<th th:text="'$ '+ ${#numbers.formatDecimal(cartElement.sum(), 0, 'DEFAULT', 2, 'DEFAULT')}"/>
						<th>
							<div class="d-inline-flex gap-2">
								<!-- Icons from FA / BS Icons -->
								<div>
									<form method="post" th:action="@{/cart_remove}">
										<input name="id" th:value="${cartElement.book().getId()}" type="hidden"/>
										<button class="btn btn-danger" type="submit">
											<svg class="bi bi-trash-fill" fill="currentColor" height="16"
												 viewBox="0 0 16 16"
												 width="16" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
											</svg>
										</button>
									</form>
								</div>
								<div>
									<a th:href="@{/book/{id}(id=${cartElement.book().getId()})}">
										<button class="btn btn-primary" type="submit">
											<svg class="bi bi-info-square-fill" fill="currentColor" height="16"
												 viewBox="0 0 16 16"
												 width="16" xmlns="http://www.w3.org/2000/svg">
												<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
											</svg>
										</button>
									</a>
								</div>
							</div>
						</th>
					</tr>
					</tbody>
				</table>
				<br>
				<h3>Total: </h3>
				<h1 th:text="'$ '+ ${#numbers.formatDecimal(cart_total, 0, 'DEFAULT', 2, 'DEFAULT')}"/>
			</div>
		</div>
	</div>

</body>
</html>